// Standard mobile breakpoint; 4:3 XGA height.
$mobile-breakpoint: 768px;

// Light theme color palette.
$gallery: #efefef;
$alabaster: #fafafa;
$mineshaft: #323232;
$eden: #105852;
$camarone: #00581a;
$fiord: #405169;
$cobalt: #0047ab;
$gigas: #523c94;
$fresh-eggplant: #990066;
$cinnamon: #7b3f00;

// Dark theme color palette.
$eerie-black: #1b1b1b;
$cod-gray: #0b0b0b;
$silver: #c0c0c0;
$silver-chalice: #acacac;
$rajah: #f7b668;
$neon-carrot: #ff9933;
$emerald: #50c878;
$bright-turquoise: #08e8de;
$blue-jeans: #5dadec;
$biloba-flower: #b2a1ea;
$illusion: #f6a4c9;
$persian-pink: #f77fbe;
$tickle-me-pink: #fc89ac;
$pink-flamingo: #ff66ff;

// Sass variables for CSS variables.
$font-serif: var(--font-serif);
$font-sans-serif: var(--font-sans-serif);
$font-monospace: var(--font-monospace);
$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$text-color: var(--text-color);
$theme-color: var(--theme-color);
$strong-color: var(--strong-color);
$em-color: var(--em-color);
$keyword-color: var(--keyword-color);
$built-in-color: var(--built-in-color);
$operator-color: var(--operator-color);
$prop-color: var(--prop-color);
$regex-color: var(--regex-color);
$string-color: var(--string-color);
$comment-color: var(--comment-color);
$meta-color: var(--meta-color);
