@use "variables" as v;
@use "fg.module.scss";

// Custom highlight.js color theme, based on Panda Syntax Theme by Annmarie Switzer.
pre > code.hljs {
	@extend .fg;

	display: block;
	overflow-x: auto;
	padding: 1em;

	& > span.hljs-keyword,
	& > span.hljs-deletion {
		color: v.$keyword-color;
	}

	& > span.hljs-built_in,
	& > span.hljs-type,
	& > span.hljs-literal,
	& > span.hljs-number,
	& > span.hljs-variable,
	& > span.hljs-title,
	& > span.hljs-doctag,
	& > span.hljs-meta > span.hljs-keyword,
	& > span.hljs-tag,
	& > span.hljs-attribute,
	& > span.hljs-link,
	& > span.hljs-selector-id,
	& > span.hljs-template-tag,
	& > span.hljs-template-variable {
		color: v.$built-in-color;
	}

	& > span.hljs-operator,
	& > span.hljs-char.escape_ {
		color: v.$operator-color;
	}

	& > span.hljs-property,
	& > span.hljs-subst,
	& > span.hljs-title.function_,
	& > span.hljs-section,
	& > span.hljs-code,
	& > span.hljs-formula {
		color: v.$prop-color;
	}

	& > span.hljs-regexp,
	& > span.hljs-variable.language_,
	& > span.hljs-selector-attr,
	& > span.hljs-selector-pseudo {
		color: v.$regex-color;
	}

	& > span.hljs-string,
	& > span.hljs-symbol,
	& > span.hljs-title.class_,
	& > span.hljs-title.class_.inherited__,
	& > span.hljs-meta > span.hljs-string,
	& > span.hljs-bullet,
	& > span.hljs-selector-class,
	& > span.hljs-addition {
		color: v.$string-color;
	}

	& > span.hljs-params {
		color: v.$comment-color;
	}

	& > span.hljs-comment,
	& > span.hljs-quote {
		color: v.$comment-color;
		font-style: italic;
	}

	& > span.hljs-meta,
	& > span.hljs-name,
	& > span.hljs-selector-tag {
		color: v.$meta-color;
	}

	& > span.hljs-emphasis {
		font-style: italic;
	}

	& > span.hljs-strong {
		font-weight: bold;
	}

	& > span.hljs-link {
		text-decoration: underline;
	}
}
