@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/fg.module.scss";

div.content {
	& > h1 {
		text-align: center;
	}

	// Cards.
	& > ul > a > div,
	& > ul > div > div {
		& > svg.half,
		& > img.half {
			width: 50%;
		}

		& > img.shield {
			height: 2em;
			width: auto;
		}

		& > iframe {
			display: block;
			width: 100%;
		}
	}
}
