@use "../../styles/variables" as v;
@use "../../styles/fg.module.scss";

a.card,
div.card {
	@extend .fg;

	background-color: v.$fg-color;
	border-radius: 10px;
	color: v.$text-color;
	flex: 1;
	min-width: min(350px, 100%);
	text-decoration: none;

	& > div {
		padding: 10px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-align: center;
			color: v.$text-color;
		}

		& > canvas,
		& > img,
		& > svg {
			display: block;
			height: auto;
			margin: 0px auto;
			width: 80%;
		}
	}
}
