ul.card-list {
	// Remove default list stylization.
	list-style: none;
	margin: 0px;
	padding: 0px;

	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
}
